{% extends 'FichaPersonal/InformacionAcademica/formularioInformacionAcademica.html' %}
{% load static %}

{% block controls %}
    <h4 class="fw-bold fst-italic text-secondary text-center">INFORMACIÓN ACADÉMICA</h4>
    <hr class="bg-success border-4 border-top border-success">
        <div class="col-md-6">
            <label class="form-label fw-bold">Fecha de Inicio:</label>
            <input type="date" class="form-control" placeholder="Ingrese la fecha de inicio académico">
        </div>
    <br>
        <div class="col-md-6">
            <label class="form-label fw-bold">Fecha de Finalización:</label>
            <input type="date" class="form-control" placeholder="Ingrese la fecha de finalizacion académica">
        </div>
    <br>
        <div class="col-12">
            <label class="form-label fw-bold">Institución:</label>
            <input type="text" class="form-control" style="width: 650px;" placeholder="Ingrese su intitución académica">
        </div>
    <br>
        <div class="col-12">
            <label class="form-label fw-bold">Título:</label>
            <input type="text" class="form-control" style="width: 650px;" placeholder="Ingrese su título">
        </div>

{% endblock %}
