{% extends 'FichaPersonal/empleados/formularioEmpleados.html' %}
{% load static %}

{% block controls %}
    <h4 class="fw-bold fst-italic text-secondary text-center">DATOS PERSONALES</h4>
    <hr class="bg-success border-4 border-top border-success">
        <div class="col-md-6">
            <label class="form-label fw-bold">Nombre:</label>
            <select id="inputState" class="form-select" style="width: 650px;">
                <option selected>-------</option>
                <option>Damaris liseth</option>
                <option>Evelyn Jessenia</option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label fw-bold">Apellido:</label>
            <select id="inputState" class="form-select" style="width: 650px;">
                <option selected>-------</option>
                <option>Ortiz Cornejo</option>
                <option>Pardo Sanchez</option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label fw-bold">Identificación:</label>
            <div class="form-check mx-auto" style="width: 300px">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                CI
                </label>
            </div>
            <div class="form-check mx-auto" style="width: 300px">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                Pasaporte
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <label class="form-label fw-bold">N° de Documento de Identidad:</label>
            <select id="inputState" class="form-select" style="width: 650px;">
                <option selected>Cedula</option>
                <option>0941483018</option>
                <option>0942483512</option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label fw-bold">Fecha de Nacimiento:</label>
            <input type="date" class="form-control">
        </div>
        <div class="col-md-6">
            <label class="form-label fw-bold">Nacionalidad:</label>
            <select id="inputState" class="form-select" style="width: 650px;">
                <option selected>Nacionalidad</option>
                <option>Ecuatoriana</option>
                <option>Venezolana</option>
            </select>
        </div>
        <div class="col-12">
            <label for="inputState" class="form-label fw-bold">Estado Civil:</label>
            <select id="inputState" class="form-select" style="width: 650px;">
                <option selected>-------</option>
                <option>Soltero</option>
                <option>Casado</option>
                <option>Unión Libre</option>
                <option>Divorciado</option>
                <option>Viudo</option>
            </select>
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label fw-bold">Dirección:</label>
            <input type="text" class="form-control" style="width: 650px;" id="inputAddress" placeholder="Escribir dirección">
        </div>
        <div class="col-12">
            <label class="form-label fw-bold">Celular / Teléfono Fijo:</label>
            <input type="text" class="form-control" style="width: 650px;" placeholder="Número celular">
        </div>
        <div class="col-md-6">
            <label for="inputState" class="form-label fw-bold">Tipo de Contrato:</label>
            <select id="inputState" class="form-select">
                <option selected>-------</option>
                <option>Contrato indefinido</option>
                <option>Contrato temporal</option>
                <option>Contrato en prácticas</option>
            </select>
        </div>
        <div class="col-12">
            <label for="inputState" class="form-label fw-bold">Sueldo:</label>
            <select id="inputState" class="form-select" style="width: 650px;">
                <option selected>------</option>
                <option>$500</option>
                <option>$800</option>
                <option>$1000</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputState" class="form-label fw-bold">Departamento:</label>
            <select id="inputState" class="form-select">
                <option selected>------</option>
                <option>RR.HH</option>
                <option>Contabilidad</option>
                <option>Sistemas</option>
                <option>Ventas</option>
                <option>Seguridad</option>
                <option>Finanzas</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputState" class="form-label fw-bold">Cargo:</label>
            <select id="inputState" class="form-select">
                <option selected>------</option>
                <option>Analista de Sistemas</option>
                <option>Gerente</option>
                <option>Vendedor</option>
                <option>Subjefe</option>
                <option>Director Comercial</option>
                <option>Contador</option>
            </select>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Estado
                </label>
            </div>
        </div>


{% endblock %}