{% extends 'FichaPersonal/empleados/formularioEmpleados.html' %}
{% load static %}

{% block controls %}
    <h4 class="fw-bold fst-italic text-secondary text-center">DATOS PERSONALES</h4>
    <hr class="bg-success border-4 border-top border-success">
        <div class="col-md-6">
            <label class="form-label fw-bold">Nombre:</label>
            <input type="text" class="form-control" placeholder="Ingrese su nombre">
        </div>
        <div class="col-md-6">
            <label class="form-label fw-bold">Apellido:</label>
            <input type="text" class="form-control" placeholder="Ingrese su apellido">
        </div>
        <div class="col-md-6">
            <label class="form-label fw-bold">Identificación:</label>
            <div class="form-check mx-auto" style="width: 300px">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                CI
                </label>
            </div>
            <div class="form-check mx-auto" style="width: 300px">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                Pasaporte
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <label class="form-label fw-bold">N° de Documento de Identidad:</label>
            <input type="text" class="form-control" placeholder="Ingrese su número">
        </div>
        <div class="col-md-6">
            <label class="form-label fw-bold">Fecha de Nacimiento:</label>
            <input type="date" class="form-control">
        </div>
        <div class="col-md-6">
            <label class="form-label fw-bold">Nacionalidad:</label>
            <input type="text" class="form-control" placeholder="Ingrese su nacionalidad">
        </div>
        <div class="col-12">
            <label for="inputState" class="form-label fw-bold">Estado Civil:</label>
            <select id="inputState" class="form-select" style="width: 650px;">
                <option selected>-------</option>
                <option>Soltero</option>
                <option>Casado</option>
                <option>Unión Libre</option>
                <option>Divorciado</option>
                <option>Viudo</option>
            </select>
        </div>
        <div class="col-12">
            <label for="inputEmail4" class="form-label fw-bold">Email:</label>
            <input type="email" class="form-control" style="width: 650px;" id="inputEmail4" placeholder="Escribir correo electrónico">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label fw-bold">Dirección:</label>
            <input type="text" class="form-control" style="width: 650px;" id="inputAddress" placeholder="Escribir dirección">
        </div>
        <div class="col-12">
            <label class="form-label fw-bold">Celular / Teléfono Fijo:</label>
            <input type="text" class="form-control" style="width: 650px;" placeholder="Número celular">
        </div>
        <div class="col-12">
            <label class="form-label fw-bold">Fecha IESS:</label>
            <input type="date" class="form-control" style="width: 650px;">
        </div>
        <div class="col-md-6">
            <label for="inputState" class="form-label fw-bold">Tipo de Contrato:</label>
            <select id="inputState" class="form-select"">
                <option selected>-------</option>
                <option>Contrato indefinido</option>
                <option>Contrato temporal</option>
                <option>Contrato en prácticas</option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label fw-bold">Fecha de Ingreso:</label>
            <input type="text" class="form-control" placeholder="Ingresar la fecha de ingreso del empleado">
        </div>
        <div class="col-12">
            <label for="inputState" class="form-label fw-bold">Sueldo:</label>
            <select id="inputState" class="form-select" style="width: 650px;">
                <option selected>------</option>
                <option>$500</option>
                <option>$800</option>
                <option>$1000</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputState" class="form-label fw-bold">Departamento:</label>
            <select id="inputState" class="form-select">
                <option selected>------</option>
                <option>RR.HH</option>
                <option>Contabilidad</option>
                <option>Sistemas</option>
                <option>Ventas</option>
                <option>Seguridad</option>
                <option>Finanzas</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputState" class="form-label fw-bold">Cargo:</label>
            <select id="inputState" class="form-select">
                <option selected>------</option>
                <option>Analista de Sistemas</option>
                <option>Gerente</option>
                <option>Vendedor</option>
                <option>Subjefe</option>
                <option>Director Comercial</option>
                <option>Contador</option>
            </select>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Estado
                </label>
            </div>
        </div>

    <hr class="bg-success border-4 border-top border-success">
    <h4 class="fw-bold fst-italic text-secondary text-center">DATOS MÉDICOS</h4>
    <hr class="bg-success border-4 border-top border-success">
        <div class="col-md-5">
            <label class="form-label fw-bold">Posee alguna discapacidad:</label>
            <div class="form-check mx-auto" style="width: 200px">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                Si
                </label>
            </div>
            <div class="form-check mx-auto" style="width: 200px">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                No
                </label>
            </div>
        </div>
        <div id="FITB_105" class="FITB formRender">
            <label for="inputState" class="form-label fw-bold">Tomas algun medicamento:
            <input type="text" class="form-textbox validate[]" style="width: 50px; max-width: 1000px;">
            <label for="105_shorttext-3"></label>
            </label>
            <b>menciona cuales<b/>
            <span data-type="textbox" data-grouptype="control_textbox" class="FITB-inptCont">
            <input type="text" class="form-textbox " style="width: 350px; max-width: 1000px;">
            </span>
        </div>
        <div class="col-12">
            <label for="inputState" class="form-label fw-bold">Tipo de Sangre:</label>
            <select id="inputState" class="form-select" style="width: 400px;">
                <option selected>-------</option>
                <option>A+</option>
                <option>A-</option>
                <option>B+</option>
                <option>B-</option>
                <option>O+</option>
                <option>O-</option>
                <option>AB+</option>
                <option>AB-</option>
            </select>
        </div>
        <br>
        <div class="col-md-5">
            <label class="form-label fw-bold">Se encuentra vacunado para COVID-19:</label>
            <div class="form-check mx-auto" style="width: 5px">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                Si
                </label>
            </div>
            <div class="form-check mx-auto" style="width: 5px">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                No
                </label>
            </div>
        </div>
    <hr class="bg-success border-4 border-top border-success">
    <h4 class="fw-bold fst-italic text-secondary text-center">CONTACTO DE EMERGENCIA</h4>
    <hr class="bg-success border-4 border-top border-success">
        <div class="col-12">
            <label class="form-label fw-bold">Nombre:</label>
            <input type="text" class="form-control" style="width: 650px;" placeholder="Ingrese el nombre">
        </div>
        <br>
        <div class="col-12">
            <label class="form-label fw-bold">Cédula:</label>
            <input type="text" class="form-control" style="width: 650px;" placeholder="Ingrese su número de cédula">
        </div>
        <br>
        <div class="col-12">
            <label class="form-label fw-bold">Celular / Teléfono Fijo:</label>
            <input type="text" class="form-control" style="width: 650px;" placeholder="Número celular">
        </div>
        <br>

        <div class="col-12">
            <label for="inputState" class="form-label fw-bold">Parentesco:</label>
            <select id="inputState" class="form-select" style="width: 650px;">
                <option selected>------</option>
                <option>MADRE</option>
                <option>PADRE</option>
                <option>HERMANO(A)</option>
                <option>ABUELO(A)</option>
                <option>TIO(A)</option>
                <option>PRIMO(A)</option>
                <option>SOBRINO(A)</option>
                <option>CUÑADO(A)</option>
                <option>PADRASTRO</option>
                <option>MADRASTRA</option>
                <option>OTROS</option>
                <option>CONYUGE</option>
                <option>HIJO(A)</option>
            </select>
        </div>
        <br>
        <div class="col-12">
            <label for="inputAddress" class="form-label fw-bold">Dirección:</label>
            <input type="text" class="form-control" style="width: 650px;" id="inputAddress" placeholder="Escribir dirección">
        </div>
    <br>
    <hr class="bg-success border-4 border-top border-success">
    <h4 class="fw-bold fst-italic text-secondary text-center">INFORMACIÓN ACADÉMICA</h4>
    <hr class="bg-success border-4 border-top border-success">
        <div class="col-md-6">
            <label class="form-label fw-bold">Fecha de Inicio:</label>
            <input type="date" class="form-control" placeholder="Ingrese la fecha de inicio académico">
        </div>
    <br>
        <div class="col-md-6">
            <label class="form-label fw-bold">Fecha de Finalización:</label>
            <input type="date" class="form-control" placeholder="Ingrese la fecha de finalizacion académica">
        </div>
    <br>
        <div class="col-12">
            <label class="form-label fw-bold">Institución:</label>
            <input type="text" class="form-control" style="width: 650px;" placeholder="Ingrese su intitución académica">
        </div>
    <br>
        <div class="col-12">
            <label class="form-label fw-bold">Título:</label>
            <input type="text" class="form-control" style="width: 650px;" placeholder="Ingrese su título">
        </div>

    <hr class="bg-success border-4 border-top border-success">
    <h4 class="fw-bold fst-italic text-secondary text-center">CAPACITACIONES</h4>
    <hr class="bg-success border-4 border-top border-success">
        <div class="col-md-6">
            <label class="form-label fw-bold">Certificado:</label>
            <div class="input-group">
                    <span class="btn btn-primary btn-file">
                        <input accept=".jpg,.png,.jpeg,.gif" class="hidden" name="banner" type="file" id="banner">
                    </span>
                <input class="form-control" id="banner_captura" readonly="readonly" name="banner_captura" type="text" value="">
            </div>
        </div>
    <br>
        <div class="col-md-6 input-group">
            <label class="form-label fw-bold">Periodo:</label>
            <input type="date" class="form-control" placeholder="Ingrese el perdíodo de capacitación">
        </div>
    <br>
        <div class="col-12">
            <label class="form-label fw-bold">Duración:</label>
            <input type="text" class="form-control" style="width: 650px;" placeholder="Ingrese el tiempo de duración de la capacitación">
        </div>

{% endblock %}
